body{
    background-color:black;
   

}
.wrapper {
    position: relative;
    background:url(..//images/aphex_twin_bio.jpg);
    -webkit-background-size: cover;
          background-size: cover;
          border-radius: 20%;
          height: 450px;
  }
  .wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 2;
  }
  .inner {
    position: relative;
    z-index: 3;
    color: #fff;
    text-align: center;
    padding-top: 175px;
    padding-left: 500px;
    font-size: 6em;
    font-family: 'Playfair Display';
  }

  p{
    text-align: justify;
  }

  .content {
    min-height: calc(100vh - 80px);
  }

  @media (min-width: 320px) and (max-width: 378.98px) {
    .inner{
      padding-left: 0px;
    padding-top: 90px;
    }
  }
  @media (min-width: 375px) and (max-width: 428.98px) {
    .inner{
      padding-left: 0px;
    padding-top: 90px;
    }
  }
  @media (min-width: 425px) and (max-width: 767.98px) {
    .inner{
      padding-left: 0px;
    padding-top: 90px;
    }
  }

@media (min-width: 992px) {
    .inner{
      padding-left: 350px;
    padding-top: 145px;
    }
  }
 

  @media (min-width: 1400px) {
    .inner{
      padding-left: 450px;
    padding-top: 155px;
    }
  }
  

  @media (min-width: 764px) and (max-width: 991.98px) {
    .inner{
      padding-left: 45px;
    padding-top: 155px;
    }
  }